//结算方式(1月结2周结3日结4完工结)
var getSettlementName = function(settleVal) {
    var a = ''
    if (settleVal == 1) {
        a = '月结'
    } else if (settleVal == 2) {
        a = '周结'
    } else if (settleVal == 1) {
        a = '日结'
    } else if (settleVal == 1) {
        a = '完工结'
    }
    return a
}

module.exports = {
    getSettlementName: getSettlementName,
}