.wifi-content {
    background-color: #fff;
    border-radius: 12rpx;
    width: 100%;
    padding: 0 30rpx;
    box-sizing: border-box;
    .btn-txt {
        height: 80rpx;
        color: #0364f5;
        text-decoration: underline;
    }
    .wifi-scroll {
        display: flex;
        flex-direction: column;
    }
    .wifi-box {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60rpx;
        padding: 5rpx 0;
    }
}