.img-view {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    .linear {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        top: 0;
        left: 0;
    }
    .main {
        background-image: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
        position: fixed;
        height: 65%;
        width: 100vw;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        .txt {
            color: #666;
            font-size: 24rpx;
            margin: 10rpx 0;
        }
        .btn {
            background-color: #000;
            border-radius: 20rpx;
            color: #fff;
            font-size: 32rpx;
            width: 70vw;
            height: 80rpx;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .tip {
            font-size: 30rpx;
            color: #000;
            margin-top: 40rpx;
            text {
                color: blue;
                font-size: 36rpx;
                font-weight: bold;
            }
        }
    }
}